
*{
	margin:0;
	padding:0;
}

.form-box{
	width:380px;	
	height:480px;
	position:relative; 
	margin: 6% auto;
	background: #fff;
	padding : 5px;
	font-family: sans-serif;
	overflow: hidden;
}

.button-box{
	width : 330px;
	margin : 35px auto;
	position :relative;
	box-shadow: 0 0 20px 9px #ff6121;
	border-radius :30px;
}

.toggle-btn{
	padding: 10px 30px;
	cursor : pointer;
	background: transparent;
	border : 0;
	outline :none;
	position: relative;
}

#btn{
	top:0;
	left:0;
	position: absolute;
	width: 110px;
	height: 100%;
	background: linear-gradient(to right, #ff105f, #ffad06);
	border-radius: 30px;
	transition: .5s;	
}

.input-group{
	top: 180px;
	position: absolute;
	width: 280px;
	font-family: sans-serif;
	transition: .5s;	
}

.input-field{
	width: 100%;
	padding: 10px 0;
	margin: 5px;
	border-left: 0;
	border-top:0;
	border-right: 0;
	border-bottom: 1px solid #999;
	outline: none;
	font-family: sans-serif;
	background: transparent;
}

.submit-btn{
	width: 85%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: auto;
	background: linear-gradient(to right, #ff105f, #ffad06);
	border: 0;
	outline: none;
	border-radius: 30px;
}

#login{
	left: 50px;
}

#registration{
	left: 450px;	
}















